.photos {
	&__hasmore {
		display: flex;
		justify-content: center;
		margin-top: var(--space-md);
		margin-bottom: var(--space-md);
	}

	.photocard {
		cursor: pointer;
	}

	@media screen and (max-width: 960px) {
		--tiles-columns: 2;
	}
}
