@import 'assets/styles/base/_mixins.scss';

.photos {
	&__hasmore {
		display: flex;
		justify-content: center;
		margin-top: var(--space-lg);
		margin-bottom: var(--space-md);
	}

	.photocard {
		cursor: pointer;
	}

	&__tiles {
		--tiles-gutter: var(--space-lg);
	}

	--tiles-columns: 1;

	@include breakpoint(sm) {
		--tiles-columns: 2;
	}

	@include breakpoint(lg) {
		--tiles-columns: 3;
	}
}
