$colors: (
	color-black: #000000,
	color-white: #ffffff,
	color-silver: #c0c0c0,
	color-pink: #ffc0cb,
	color-red: #ff0000,
	color-green: #00ff00,
	color-yellow: #ffff00,
	color-orange: #ffa500,
	color-cyan: #00ffff,
	color-blue: #0000ff,
	color-rebeccapurple: #663399,
);

:root {
	@include convertToCssColors($colors);
}
