:root {
	--link-transition: var(--default-transition);
	--link: inherit;
	--link-decoration: none;
	--link-hover: inherit;
	--link-active: inherit;
}

a,
.link {
	transition: var(--link-transition);
	color: var(--link);
	text-decoration: var(--link-decoration);

	&:hover {
		color: var(--link-hover);
	}

	&:active {
		color: var(--link-active, inherit);
	}

	&:visited {
		color: var(--link-visited, inherit);
	}
}
