/*
	Mixin that allows to define a fixed aspect
	
	the default value will generate a square aspect
*/
@mixin aspect-fixed($height: 100%) {
	position: relative;
	&:before {
		display: block;
		content: '';
		width: 100%;
		padding-top: $height;
	}
}

/*
    Mixin to set aspect ratio.

    1, 1 - square
    16, 9 - rectangle

	Eg: To set an aspect ratio of 16:9 include the mixin like;
	@include aspect-ratio(16, 9);
 */
@mixin aspect-ratio($width, $height) {
	@include aspect-fixed(($height / $width) * 100%);
}
