@import 'assets/styles/base/_mixins.scss';

.layoutfooter {
	background-color: var(--footer-bg);
	color: var(--footer-color);

	a,
	.link {
		--link: var(--link-inverted);
		--link-hover: var(--link-inverted-hover);
		--link-active: var(--link-inverted-active);
	}
	&,
	&__content {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	justify-content: center;

	&__content {
		justify-content: space-between;
		max-width: var(--max-app-width);
		padding: var(--space-md);

		@include breakpoint-max(sm) {
			flex-direction: column;
			justify-content: flex-start;
			font-size: var(--text-sm);
			padding: var(--space-lg) var(--space-md);

			& > *:not(:first-child) {
				margin-top: var(--space-sm);
			}
		}
	}
}
