@import './mixins';
@import './colors-pallete';

//----------------------------------------------------------------------------//

/* typography */
$min_width: 600px;
$max_width: 1200px;
$min_font: 15px;
$max_font: 18px;

/* z-index pyramid */
$sun: -1;
$mercury: 1;
$venus: 10;
$earth: 20;
$mars: 30;
$jupiter: 40;
$saturn: 50;
$uranus: 60;
$neptune: 70;
$solarsytem: 100;
$milkwaygalaxy: 300;
$andromedagalaxy: 500;

//----------------------------------------------------------------------------//

/* global css variables */
:root {
	@include convertToCssColors($colors);

	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

	--font-family-code: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono', 'Liberation Mono', Menlo, Courier,
		monospace;

	--body-bg: #{color(color-white)};
}
